@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffffff;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }
}

.input-modern {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 text-sm bg-white
  focus:ring-2 focus:ring-purple-200 focus:border-purple-500 
  pl-10;
}

input, textarea, select {
  color: #010101; /* tailwind gray-900 */
}
